.kyc-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.product-details,
.customer-details {
  flex: 1;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

.product-details h4,
.customer-details h4 {
  background: #e6e9f2;
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 16px;
  font-weight: 600;
  color: #333;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

label {
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
  font-family: "Inter", serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
}

textarea {
  height: 60px;
  resize: none;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #d2cccc;
  font-weight: 300;
}


.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.customer-row button {
  background: #007bff;
  font-family: "Inter", serif;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.customer-row button:hover {
  background: #0056b3;
}

.modal-actions button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  font-family: "Inter", serif;
}
.modal-actions button:hover {
  background-color: #0056b3;
}

